.brand-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .brand-item {
    border: 1px solid #eee;
    padding: 10px;
    text-align: center;
  }
  
  .brand-item img {
    max-width: 100%;
    height: auto;
  }
  .brands-header{
    display:flex;
    justify-content:center;
    margin: 50px auto; 
  }